<!DOCTYPE html>
<html>
<h1>Add to Your Account</h1>

<form action="/add_row">
  <label for="name">Enter your name:</label>
  <input type="text" name="name">
  <br>
  <label for="date">Enter the date of your purchase:</label>
  <input type="text" name="date">
  <br>
  <label for="payee">Enter the place where you made your purchase:</label>
  <input type="text" name="payee">
  <br>
  <label for="category">Enter the category of your purchase:</label>
  <input type="text" name="category">
  <br>
  <label for="outflow">Enter any money you spent:</label>
  <input type="text" name="outflow">
  <br>
  <label for="inflow">Enter any money you received:</label>
  <input type="text" name="infow">

  <input type="submit">
</form>
</html>