<!DOCTYPE html>
<html lang="en-us">

<head>  
<meta charset="utf-8">
<title>add a transaction</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:700i|Roboto+Mono:500" rel="stylesheet">
</head> 

<body class="wrapper2">

<h1>Add to Your Account</h1>

<form action="/add_row">
  <label for="name"></label>
  <input type="text" placeholder="Your Name?" name="name">
  <br>
  <label for="date"></label>
  <input type="text" placeholder="Date of Transaction?" name="date">
  <br>
  <label for="payee"></label>
  <input type="text" placeholder="Where did your transaction occur?" name="payee">
  <br>
  <label for="category"></label>
  <input type="text" placeholder="Which category should this fall into?"name="category">
  <br>
  <label for="outflow"></label>
  <input type="text" placeholder="What did it cost you?" name="outflow">
  <br>
  <label for="inflow"></label>
  <input type="text" placeholder="Anyone spot you funds?"name="infow">

  <button>"submit"</button>

</form>

</body>
</html>