<!DOCTYPE html>
<html lang="en-us">

<head>  
<meta charset="utf-8">
<title>login page</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:700i|Roboto+Mono:500" rel="stylesheet">
</head> 

<body class="wrapper">

<h1>Login Information</h1>

<form action="/log_them_in">
    <input type="text" placeholder="Enter Username" name="uname" required>
</br>
    <input type="password" placeholder="Enter Password" name="psw" required>
</br>
    <button type="submit">Login</button>
  </div>
</form>

</body>
</html>