<!DOCTYPE html>
<html> 
	<head>
	<link rel="stylesheet" type="text/css" href="<%= url("/styles.css") %>">
	<title>CSV Webpage</title</title>
	<h1>CSV Webpage</h1>

<body> 
	<li><a href="/full">Full Report</a></li>
    <li><a href="/ind/Priya">Priya's Report</a></li>
    <li><a href="/ind/Sonia">Sonia's Report</a></li>
    




</body>
</html>




