<!DOCTYPE html>
<html> 
	<head>
	<title>CSV Webpage</title</title>
	<h1>CSV Webpage</h1>

<body> 
	<li><a href="/full">Full Report</a></li>
    <li><a href="/priya">Priya's Report</a></li>
    <li><a href="/sonia">Sonia's Report</a></li>


</body>
</html>



<!-- this is where we will display all of our html   

talk with the group to figure this out -->

