<!DOCTYPE html>
<html> 
	<head>
	<title>CSV Webpage</title</title>
	<h1>CSV Webpage</h1>

<body> 
	<li><a href="/full">Full Report</a></li>
    <li><a href="/ind">Priya's Report</a></li>
    <li><a href="/ind">Sonia's Report</a></li>



</body>
</html>




