<!DOCTYPE html>
<html lang="en-us">

<head>  
<meta charset="utf-8">
<title>successful log</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:700i|Roboto+Mono:500" rel="stylesheet">
</head> 

<body class="wrapper">

<h1>Transaction successfully added!</h1>

	

    <a href="/add_row_form">
   		<button>Add Another Transaction</button>

   	<a href="/main">
   		<button>Home</button>

	<a href="log_out">
   		<button>Logout</button>



</body>
</html>
